.logo {
    color: $primary-text-color;
    font-family: $accent-font;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-left: 50px;
}

.logo__part--black {
    color: $third-text-color;
    font-family: $accent-font;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo__part--accent {
    color: rgb(76, 175, 80);
}

.logo__part--white {
    color: $third-text-color;
    font-family: $accent-font;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}