.section-hero{
    max-width: 1170px;
    margin: 25px auto;
    padding: 25px;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.2), rgba(47, 48, 58, 0.2));
}
.main-title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: aliceblue;
}

.second-title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    color: aliceblue;
}